# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
# Integer is a whole number
favorite_number = 23

In [ ]:
# snake_case 
snake_case_variable = 'python best practice'

# camelCase 
camelCaseJavaScript = 'javascript best practice'

##### Assinging float

In [4]:
# Float is a number with decimal

a_float = 1.5

#### Performing Calculations on ints and floats

##### Addition

In [3]:
print(5+5)

print(favorite_number + 5)

10
28

##### Subtraction

In [6]:
print(10 - 5)

print(favorite_number - 10)

# resassinging number
favorite_number -= 10
print(favorite_number)

5
13
13

##### Multiplication

In [10]:
print(5*2)

print(favorite_number * 3)
# reassign
# long hand
favorite_number = favorite_number * 3
print(favorite_number)
# short hand version
favorite_number *= -3
print(favorite_number)

10
-3159
-3159
9477

##### Division

In [12]:
print(10/2)

print(favorite_number / 3)
# still holding original value
print(favorite_number)

favorite_number /= 3
print(favorite_number)

5.0
3159.0
9477
3159.0

##### Floor Division

In [14]:
# output the original data type between int // float
print(11//2)

# reassigning with floor division
favorite_number //= 9
print(favorite_number)

print(11.5 // 2)

print(5.0 == 5)

5
351.0
5.0
True

##### Modulo

In [17]:
print(10 % 2)

print(11 % 2)

print(124 % 25)

0
1
24

##### Exponential

In [19]:
# **
# squaring
print(10**2)

print(10**3)

my_num = 10
# reassigning
# long hand
my_num = my_num ** 2
print(my_num)
# short hand
my_num **= 2
print(my_num)

100
1000
100
10000

### String Input-Output

##### String Assignment

In [22]:
instructor = 'Sean'

print(type(instructor))

num_string = 500

print(type(num_string))

<class 'str'>
<class 'int'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [29]:
# end by default is new line /n can overwrite by adding end argument
print(instructor, end=' Currie ')
print('hello world')

Sean Currie hello world

##### String Concatenation

In [32]:
first_name = 'Agent'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

# reassigning
my_name = 'dylan'
# long hand
my_name = my_name + ' smith'
print(my_name)

# short version
my_name += ' jr'

print(my_name)

Agent Smith
dylan smith
dylan smith jr

In [36]:
my_num = 10000

##### Type Conversion

In [38]:
# str() function is out of place not changing originla type must reassign
print(my_num, type(my_num))

print(type(str(my_num)))

print(type(my_num))

# reassigned to converted number
my_num = str(my_num)

# type error
# my_num + 5

print(my_num, type(my_num))

10000 <class 'str'>
<class 'str'>
<class 'str'>
10000 <class 'str'>

In [ ]:
# convert to int with int

print(my_num, type(my_num))

int(my_num)

print(type(my_num))

#reassign to new type
my_num = int(my_num)

print(type(my_num))

# valueError
# int('100andone')
# argument must be all digits

##### input()

In [1]:
# input() takes a promt as an argument
# always returns a string 

user_name = input('What is your name? ')

What is your name? Khoa

In [2]:
print(user_name)

Khoa

In [3]:
user_age = input('What is your age? Enter in digits ')

What is your age? Enter in digits 100

In [4]:
user_age = int(user_age)
user_age += 1
print(user_age)

101

##### format()

In [9]:
print('User {} is {} years old'.format(user_name, user_age))

User Khoa is 101 years old

##### Old Way (python 2)

In [10]:
print('User %s is %s years old'% (user_name, user_age))

User Khoa is 101 years old

In [11]:
print(f'User is {user_name}')

User is Khoa

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [12]:
car_color = input("What is your car's color ?")
car_year = input("What is your car's year ?")
car_make = input("What is your car's maker ?")
car_model = input("What is your car's model ?")

What is your car's color ?red
What is your car's year ?2020
What is your car's maker ?Jeep
What is your car's model ?Wrangler

In [13]:
print(f'my car is {car_color} of {car_year}, make by {car_make}, its model is {car_model}')

my car is red of 2020, make by Jeep, its model is Wrangler

### If Statements

In [14]:
# if (boolean): 
#    run action must be indented

if True:
    print('condition true')

condition true

In [23]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if 5 > 4:
    print('five > 4')
    
if 5 < 4:
    # skip action boolean/condition is false
    print('five < 4')
    
if 5 == 5:
    print('5 == 5')
    
if 5 + 5 > 9:
    print('10 > 9')
    
if 5+5 >= 10:
    print('10 >= 10')
    
if 5 + 5 <= 10:
    print('10<=10')
    
if 10 != 9:
    print('10 != (not equal) 9')


# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if True and False:
    print('True and False')
    
if True or False:
    print('True or False')
    
# can have multiple actions until next line is on same indentation level
if 5 + 5 == 10 and 11> 10:
    print('11 > 10 == 10')
    print('second action')
    
# T and F
if 5 + 5 > 10 and 11 > 10:
    print('11 > 10 == 10')
    print('second action 2')
    
# first condition returns F doesn't check 2nd condition
if 10 == 11 and int(input('what is your age')) > 18:
    print('breaking at frist condition')
    
# F or T
if 10 == 11 or int(input('what is your age')) > 18: 
    print('not breaking at first condition')
    
# T or T
if 1 > 0 or 10 == 10:
    print('both true')
    
# F or F
if 1 > 2 or 2 > 3:
    print('both true using or')
# int(input('what is your age'))

five > 4
5 == 5
10 > 9
10 >= 10
10<=10
10 != (not equal) 9
True or False
11 > 10 == 10
second action
what is your age100
not breaking at first condition
both true

##### 'is' keyword

In [28]:
simple_list = [1,2,3,4]
basic_list = [1,2,3,4]

#True
simple_list == basic_list
#False
simple_list is basic_list

simple_list_copy = simple_list
print(simple_list_copy)

print(simple_list_copy is simple_list)
# adding to same list of simple and simple copy 
simple_list.append(5)

print(simple_list_copy)
# uneffected
print(basic_list)

[1, 2, 3, 4]
True
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

##### 'in' keyword

In [38]:
# membership check

character = 'Neo'
print("N" in character)
# case sensitive
print('n'.title() in character.lower())

print('O', "N", 'E' in 'NEO')
print('no' in 'neo')
# out of order
print('one' in 'neo')

if 'N' in 'Neo':
    print('N in Neo')

True
False
O N True
False
False
N in Neo

In [37]:
for character in ['o', 'n', 'e', 'a', 'b', 'o']:
    if character in 'neo':
        print(f'{character} true')

o true
n true
e true
o true

##### 'not in' keyword'

In [40]:
if 'z' not in character:
    print('no z in neo')
    
if 'n' not in 'neo':
    print('no n in neo')

no z in neo

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [58]:
user_name = input('what is your name?')

what is your name?khoa

In [60]:
if 'p' in user_name:
    print('p is in user name')
else:
    print('p is not in user name')

p is not in user name

## Using 'and'/'or' with If Statements

In [61]:
# see above

### Elif Statements

In [66]:
if 5 + 5 == 100:
    print('10 == 10')
elif 100 > 99:
    print('100 > 99')
    
# check both conditions do two different if
# if 5+5 == 10:
#     print('10 == 10')
# if 100 > 99:
#     print('100> 99')

# chaining multiple conditions
if False:
    print('false')
elif 0:
    print('0')
elif 1:
    print('1')
if True: 
    print('second true')

100 > 99
1
second true

### Else Statements

In [67]:
# see above

if 'a' in 'morpheous':
    print('a in morpheous')
else:
    print('no a in morpheous')
    
if 'a' in 'neo':
    print('a in neo')
elif 'n' in 'neo':
    print('n in neo')
else:
    print('no a or n in neo')


# two conditions return false run else action
if 'a' in 'neo':
    print('a in neo')
elif 'z' in 'neo':
    print('n in neo')
else:
    print('no a or n in neo')

no a in morpheous
n in neo
no a or n in neo

### For Loops

In [71]:
# for keyword, loop variable, in keyword, iterable(string, list, dictionaries, .etc)
count = 0
for char in 'neo is the one':
    print(char)
    count+=1
print(count)

n
e
o

i
s

t
h
e

o
n
e
14

In [78]:
# range is non-inclusive
# start defaults to 0
# for num in range(10):
#     print(num)
    
#range(start, stop, step)
# for num in range(1, 11):
#     print(num)
    
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [79]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [80]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [82]:
def get_user_age():
    pass

def calculate_age():
    pass

for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [84]:
for num in range(5):
    for char in 'sean':
        print(num, char)
    print('nested loop completed')

0 s
0 e
0 a
0 n
nested loop completed
1 s
1 e
1 a
1 n
nested loop completed
2 s
2 e
2 a
2 n
nested loop completed
3 s
3 e
3 a
3 n
nested loop completed
4 s
4 e
4 a
4 n
nested loop completed

In [85]:
for x in range(10):
    for y in range(10):
        print(x,' ', y)
    print('nested loop completed')

0   0
0   1
0   2
0   3
0   4
0   5
0   6
0   7
0   8
0   9
nested loop completed
1   0
1   1
1   2
1   3
1   4
1   5
1   6
1   7
1   8
1   9
nested loop completed
2   0
2   1
2   2
2   3
2   4
2   5
2   6
2   7
2   8
2   9
nested loop completed
3   0
3   1
3   2
3   3
3   4
3   5
3   6
3   7
3   8
3   9
nested loop completed
4   0
4   1
4   2
4   3
4   4
4   5
4   6
4   7
4   8
4   9
nested loop completed
5   0
5   1
5   2
5   3
5   4
5   5
5   6
5   7
5   8
5   9
nested loop completed
6   0
6   1
6   2
6   3
6   4
6   5
6   6
6   7
6   8
6   9
nested loop completed
7   0
7   1
7   2
7   3
7   4
7   5
7   6
7   7
7   8
7   9
nested loop completed
8   0
8   1
8   2
8   3
8   4
8   5
8   6
8   7
8   8
8   9
nested loop completed
9   0
9   1
9   2
9   3
9   4
9   5
9   6
9   7
9   8
9   9
nested loop completed

### While Loops

In [ ]:
# key while, condition to keep looping

while num < 100:
    print(num)
    num += 1

##### Looping 'While True'

In [88]:
# use break to exit while loop, if there is no condition to break inline with while
i = 0
while True: 
    print('hello', i)
    i += 1
    if i == 100:
        break

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10
hello 11
hello 12
hello 13
hello 14
hello 15
hello 16
hello 17
hello 18
hello 19
hello 20
hello 21
hello 22
hello 23
hello 24
hello 25
hello 26
hello 27
hello 28
hello 29
hello 30
hello 31
hello 32
hello 33
hello 34
hello 35
hello 36
hello 37
hello 38
hello 39
hello 40
hello 41
hello 42
hello 43
hello 44
hello 45
hello 46
hello 47
hello 48
hello 49
hello 50
hello 51
hello 52
hello 53
hello 54
hello 55
hello 56
hello 57
hello 58
hello 59
hello 60
hello 61
hello 62
hello 63
hello 64
hello 65
hello 66
hello 67
hello 68
hello 69
hello 70
hello 71
hello 72
hello 73
hello 74
hello 75
hello 76
hello 77
hello 78
hello 79
hello 80
hello 81
hello 82
hello 83
hello 84
hello 85
hello 86
hello 87
hello 88
hello 89
hello 90
hello 91
hello 92
hello 93
hello 94
hello 95
hello 96
hello 97
hello 98
hello 99

##### While & For Loops Used Together

In [ ]:
while 3>0:
    for n in range():
        pass

### Built-In Functions

##### range()

In [ ]:
# range(start, stop, step)
# only one require argument- would be stop
# start defaults to 0 and step defaults to 1
print(range(10))

##### len()

In [97]:
len('sean currie')
instructor = 'sean currie'
for i in range(len(instructor)):
    print(i, end=' ')
    print(instructor[i])

0 s
1 e
2 a
3 n
4
5 c
6 u
7 r
8 r
9 i
10 e

##### help()

In [98]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [102]:
type(instructor)

print(isinstance(instructor, str))
print(isinstance(instructor, int))

True
False

##### abs()

In [105]:
abs(-5)==abs(5)

True

### Try and Except

In [109]:
while True:
    try:
        user_age = int(input('what is your age?'))
        break
    except:
        print('Error enter age in digits')

what is your age?akdf
Error enter age in digits
what is your age?akdsf
Error enter age in digits
what is your age?12

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [116]:
i = 0
while i >= 0:
    i += 1
    if i**3 > 1000:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [196]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(0, 101):
    count = 0
    for x in range(2, i):
        if i % x == 0:
            count += 1
            break
    if count == 0:
        print(i)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [200]:
user_age = int(input('What is your age?'))

if user_age < 18:
    print('kids')
elif 18 <= user_age <= 65:
    print('adults')
else:
    print('senior')

What is your age?66
senior